<head>
   <link href="css/normalize.css" rel="stylesheet">
   <link href="css/skeleton.css" rel="stylesheet">
   <link href="/styles.css" rel="stylesheet">
</head>
<body>
   <div class='container'>
      <div id="app">
         Test
      </div>

      <script src="app.js"></script>
   </div>
</body>

