.strikethrough {
   text-decoration: line-through;
   color: slategray;
}

body {
   padding-top: 3rem;
}

.purchased-false {
   height: 40px;
   background-color: red;
}

.purchased-true{
   height: 40px;
   background-color: green;
}

h1 {
   text-decoration: underline;
   text-decoration: wavy;
}

.grocery-addItem {
   margin-top: 1rem;
   padding-top: 1rem;
}
